<% provide(:title, @position.symbol) %>

<div class="row">
  <div class="col-xs-12">
    <h1><%= @position.symbol %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="legend"></div>
    <div class="chart"></div>
  </div>
</div>
<input name="id" type="hidden" value=<%= @position.id %>>