<% provide(:title, @position.symbol) %>

<%= link_to @position.portfolio.name, portfolio_path(@position.portfolio) %>

<div class="row">
  <div class="col-md-6">
    <% if !@position.dividend_list.empty? %>
      <table id="dividendHistory">
        <tr>
          <th>Date</th>
          <th>Dividend</th>
        </tr>
        <% @position.dividend_list.each_with_index do |d| %>
          <tr>
            <td><%= d.ex_dividend_date %></td>
            <td><%= number_to_currency d.dividends %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <p>
        No Dividend History for <%= @position.symbol %>
      </p>
    <% end %>
  </div>
</div>