<tr class="records">
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td><b>Cash<b></td>
  <td><%= number_to_currency @portfolio.cash %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
</tr>