<% provide(:title, @portfolio.name) %>

<div class="row">
  <div class="col-md-12">
    <h1 class="center"><%= @portfolio.name %></h1>
    <hr>
  </div>
</div>
<div class="datepicker"></div>
<div class="row">
  <div class="content col-md-12">
    <table id="quotes">
      <tr>
        <th>Date Acquired</th>
        <th>Symbol</th>
        <th>Company</th>

        <th>Shares</th>
        <th>Cost Per Share</th>
        <th>Total Cost</th>

        <th>Current Price Per Share</th>
        <th>Current Market Value</th>
        <th>Unrealized Gains and Losses</th>

        <th>Dividends Received on Lot</th>
        <th>Total Profit from Lot</th>
        <th>Total Profit from Lot (%)</th>
      </tr>
      <%= render @positions %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-3" id="addPosition">
      <%= render 'positions/new' %>
  </div>
</div>