@import "bootstrap";
$steelblue: #4682B4;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

pre {
  border-radius: 0px;
}

textarea {
  resize: vertical;
}

input {
  border: 1px solid #bbb;
  padding: 6px;
  height: auto;
  margin-bottom: 10px;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

#error_explanation {
  color: $brand-danger;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  display: inline;
  color: #D00;
  font-size: 12px;
}

#spinner {
  display: none;
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto auto;
}

.right_bound, .left_bound {
  stroke: $steelblue;
}