// Place all the styles related to the Portfolios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#name {
  padding: 5px;
}

table#quotes {
  width: 100%;
  border: 1px solid #BBB;
  margin-bottom: 10px;
  th, td {
    padding: 2px;
  }
  th {
    border-bottom: 1px solid #BBB;
  }
  td {
    border-left: 1px solid #BBB;
  }
  .up {
    color: green;
  }
  .down {
    color: red;
  }
  tr.records > td {
    text-align: right;
  }
  tr#total > td {
    text-align: right;
    background-color: #ccc;
  }
}

table#form {
  width: 100%;
  margin-bottom: 10px;
  th, td {
    width: 20%;
    padding: 0px 6px;
    input {
      width: 100%;
      margin: 0px;
    }
  }
}

form#new_portfolio {
  input {
    width: 100%;
  }
}

.btn {
  margin-bottom: 15px;
}

div.portfolioIndex {
  border: 1px solid #eee;
  border-top: none;
  padding: 15px 10px;
  &:first-of-type {
    border: 1px solid #eee;    
  }
  &:nth-child(even) {
    background: #fafafa;
  }
}

form.edit_portfolio {
  input[type=submit] {
    display: none;
  }
}